@import "../variables";

.Button {
    width: 100%;
    float: left;

   &-control {
       background: $yellow;
       color: $red;
       border: 1px solid $orange;
       padding: 9px 25px;
       position: relative;
       cursor: pointer;
       float:left;
       border-radius: 4px;
       text-align: center;
       vertical-align: middle;
       margin-left: 12%;
   }
}
