@import "../variables";

.UserTable {
    padding: 10px 0;

    &-table {
        width: 50%;
        margin: 0 auto;
    }

    &-link {
        text-align: center;
        padding: 20px;

        a {
            text-decoration: none;
            color: $red;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
